
#active
{
	background-color: #1ABB00;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: White;
  color: Black;
  text-align: center;
  font-size: 17px;
  position: fixed-bottom;
}

p {
	padding-left: 15px;
	padding-top: 15px;
}

input {
	width: 100%;
}

submit {
	margin-top: 15px;
}


	









