/*ajout de la police ETML*/
@font-face {
    font-family: "ETML";
    src: url("../../resources/font/ETML.ttf") format("truetype"),
    url("../../resources/font/ETML.woff") format("woff"),
    url("../../resources/font/ETML.woff2") format("woff2");
}

/* images accueil*/
.slideshow-container img {
    max-height: 400px;
    width: auto;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 80%
    }
    to {
        opacity: 100%
    }
}

/* Tout en haut (nom école)*/
.toptop {
    text-align: center;
    text-decoration: none;
}

.toptop a {
    color: #004595;
    text-align: center;
    font-family: "ETML";
    font-size: 20px;
}

.toptop a:hover {
    color: #2862bf;
    text-decoration: none;
}

/* Style the links inside the navigation bar */
.navbar a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    margin: 7px;
}

.navbar .link.active {
    background-color: #798737;
    border-radius: 20px;
}

.navbar .link:hover {
    border-radius: 20px;
    background-color: #3d4d21;
}

.navbar .link.active:hover {
    background-color: #798737;
}

.navbar-admin {
    background-color: darkblue !important;
}

.navbar-admin .link.active {
    background-color: blue;
}

.navbar-admin .link:hover {
    background-color: indigo;
}

.navbar-admin .link.active:hover {
    background-color: blue;
}

.textAccueil {
    font-size: 18px;
    margin: auto;
    border: 3px solid green;
    padding: 10px;
}

.textAccueil-admin {
    border: 3px solid darkblue !important;
}

/*contact*/

.imageContact img {
    margin: 4px;
}

/*barre "contact"*/
.contactbarre {
    background-color: #a1cc43;
    overflow: hidden;
}

/*barre de navigation text*/
.contactbarre p {
    float: left;
    font-weight: bold;
    padding: 0px;
    font-size: 27px;
    margin: 7px;
}

.map {
    margin-top: 4px;
}

h2 {
    padding-top: 30px;
    margin: auto;
}

h3 {
    padding-top: 30px;
    margin: auto;
}

.ligne {
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #a1cc43;
    overflow: hidden;
}

.ligne-admin, .contactbarre-admin {
    background-color: darkblue !important;
}

.info {
    margin: auto;
}

.formulaire {
    padding-top: 20px;
    margin: auto;
    padding-left: 12px;
}

.col-12 {
    padding-top: 20px;
}

/*Page commander*/

submit {
    margin-top: 15px;
}

.Date {
    margin: auto;
    width: 50%;
    padding-left: 12px;
}

.Table {
    margin: auto;
    width: 50%;
    padding-left: 12px;
}

.Heure {
    margin: auto;
    width: 50%;
    padding-left: 12px;
}

.Reserver {
    margin: auto;
    width: 50%;
    padding-left: 12px;
}

/* Footer */

#footer {
    background-color: #556B2F;
    width: 100%;
}

.footer-admin {
    background-color: darkblue !important;
}

@media screen and (max-width: 992px) {
    .navbar .nav-link {
      padding-left: .5rem !important;
      padding-right: .5rem !important;
    }

    .navbar-right {
        flex-direction: row !important;
    }
}